.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff;
}

.ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #fff;
}

.ql-placeholder {
    color: #fff;
}

.ql-snow .ql-picker-options {
    background-color: #454545;
}
