.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff;
}

.ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #fff;
}

.ql-placeholder {
    color: #fff;
}

.ql-snow .ql-picker-options {
    background-color: #454545;
}

.ql-editor {
  font-size: 2em; /* Adjust the desired font size */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
