* {
    background: #3D3D3D;
    color: white;
}

.title {
    text-align: left;
    margin-left: 2vw;
    margin-top: 1vh;
    font-family: Sansita Swashed;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50vw;
}

.quote {
    display: block;
    text-align: right;
    margin-right: 2vw;
    margin-top: 3vh;
    font-family: Sansita Swashed;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50vw;
}

.sub-title {
    text-align: left;
    margin-left: 2vw;
    margin-top: 1vh;
    font-family: Sansita Swashed;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.topline {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.main-edit {
    margin-left: 3vw;
    margin-right: 3vw;
}

@media (orientation:landscape) {
    .column {
        float: left;
        width: 50%;
    }
}

@media (orientation:portrait) {
    .column {
        float: left;
        width: 100%;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-family: Sansita Swashed;
}

hr {
    background-color: white;
}

main {
    padding: 2em;
}

.row {
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
}

.entries {
    width: 50%;
}

.entry > a > h3 {
    font-family: Sansita Swashed;
}

.new {
    margin-right: 3vw;
}

a:hover {
    text-decoration: none;
}
