<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta name="theme-color" content="#3D3D3D">
        <title>Reflectology: Apology</title>
    </head>
    <body>
        <main class="main-content">
            <img style="text-align: center; display: block; margin: auto; margin-top: 20px;" alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/k0WihRq.jpeg" title="{{ top }}">
        </main>
    </body>
</html>