{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <h1 class="sub-title">
        <div style="display: inline-block;">{{ entry.display_title }}</div>
        <div id="title" contenteditable="true" style="display: inline-block; width: 60vw;">{{ entry.title }}</div>
    </h1>
    <hr class="topline">
    <div class="main-edit">
        <div class="column">
            <div id="editor" style="height: 60vh;"></div><br>
            <div style="display: -webkit-inline-box;">
                <button id="save" class="btn btn-primary" style="font-size: 1.5rem; margin-left: 10px; text-align: left;"><i id="success" class="fa-solid fa-check"></i>
                    <div id="spinner" class="spinner-border text-light"></div> Save</button>
            </div>
            <label style="margin-left: 2vw; margin-right: 1vw;">Change Date:</label><input id="date-input" type="date">
        </div>
        <div class="column">
            <div class="editor-content">
                <div class="prompts">
                    <h2>Prompts</h2>
                    <hr>
                    <div class="slideshow-container">
                        {% for prompt in prompts %}
                            <div class="slide-items">
                                <h3>{{ prompt }}</h3>
                            </div>
                        {% endfor %}

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let k = "{{ entry.key }}";
    </script>
    <script src="/static/editor.js"></script>
    <script>
        {% autoescape false %}
        quill.setContents({{ content }});
        {% endautoescape %}
    </script>
{% endblock %}