{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <span class="top">
        <h1 class="sub-title">Home</h1>
        <a class="new" href="/create"><img src="/static/images/add.png" alt="+"></a>
    </span>
    <hr class="topline">
    <div class="row">
        <section class="entries">
            {% for entry in entries %}
                <div class="entry">
                    <div class="entry-header">
                        <a href="/edit?entry={{ entry.key }}">
                            <h3>{{ entry.display_title }}</h3>
                        </a>
                        <button class="icon-btn del" onclick="document.getElementById('del {{ entry.key }}').style.display='block'"><i class="fa-sharp fa-solid fa-trash del-ico"></i></button>
                    </div>
                    <hr>
                    <p>{{ entry.desc }}</p>
                </div>
            {% endfor %}
        </section>
        <section class="calendar">
            <script id="clndr-template" type="text/template">

                <div class="controls">
                  <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %> <%= year %></div><div class="clndr-next-button">&rsaquo;</div>
                </div>
    
                <div class="days-container">
                  <div class="days">
                    <div class="headers">
                      <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                    </div>
                    <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
                  </div>
                  <div class="events">
                    <div class="headers">
                      <div class="x-button">x</div>
                      <div class="event-header">Entries</div>
                    </div>
                    <div class="events-list">

                    </div>
                  </div>
                </div>
    
              </script>
        </section>
    </div>
    {% for entry in entries %}
    <div id="del {{ entry.key }}" class="modal">
        <span onclick="document.getElementById('del {{ entry.key }}').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/delete" method="post">
            <div class="container">
                <h1>Delete</h1>
                <p>Are you sure you want to delete {{ entry.display_title }}?</p>

                <input type="hidden" name="entry" value="{{ entry.key }}" />
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('del {{ entry.key }}').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="deletebtn">Delete</button>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}

    <script>
        {% autoescape false %}
            const events = {{ entries }};
        {% endautoescape %}
    </script>

    <script src="/static/js/underscore.js" type="text/javascript"></script>
    <script src="/static/js/moment.js" type="text/javascript"></script>
    <script src="/static/js/clndr.js" type="text/javascript"></script>
    <script src="/static/calendar.js" type="text/javascript"></script>
{% endblock %}