{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <span class="top">
        <h2>Home</h2>
        <a class="new" href="/create"><img src="/static/images/add.png" alt="+"></a>
    </span>
    <hr>
    <div class="row">
        <section class="entries">
            {% for entry in entries %}
                <div class="entry">
                    <a href="/edit?entry={{ entry.key }}">
                        <h3>{{ entry.display_title }}</h3>
                    </a>
                    <hr>
                    <p>{{ entry.desc }}</p>
                </div>
            {% endfor %}
        </section>
        <section class="calendar">
            calendar goes here
        </section>
    </div>
{% endblock %}